<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../bower_components/core-icon/core-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/core-localstorage/core-localstorage.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">

<link rel="import" href="../bsc-search-button/bsc-search-button.html">
<link rel="import" href="../infinity-list/infinity-list.html">


<polymer-element name="log-viewer" constructor="LogViewer" attributes="fd">
  <template>
    <link rel="stylesheet" href="log-viewer.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <!--
    <core-localstorage name="log-viewer-filters" value="{{filters}}"></core-localstorage>
    -->
    <core-header-panel mode="standard" id="core_header_panel">
      <core-toolbar id="core_toolbar" >

        <!--core-icon-button icon="menu" id="core_icon_button"></core-icon-button-->

        <!--
        <file-input class="btn btn-primary" extensions='["log"]'>
         <core-icon icon="file-download" ></core-icon>
        </file-input>
        -->

        <div id="logFileName" flex>{{fd}}</div>
        <bsc-search-button
                           id="search"
                           placeholder="filter..."
                           on-search="{{onSearch}}"
                           on-reset="{{onSearchReset}}">
        </bsc-search-button>
      </core-toolbar>
      <!--section id="section"-->
          <div class="content">
            <infinity-list id="logList" fit hidden?={{filter.on}}>
              <template>
                  <div class='line'>[{{index}}]{{line}}</div>
              </template>
            </infinity-list>
            <infinity-list id="logSearch" fit hidden?={{!filter.on}}>
            </infinity-list>
            <!--
            <simple-list id="logSearch" data="{{filter.result}}" height="80" fit hidden?={{!filter.on}}>
              <template>
                  <div class='line'><template is="juicy-html" content="{{model.line}}"></template></div>
              </template>
            </simple-list>
            -->
          </div>
      <!--/section-->
    </core-header-panel>

  </template>
  <script src="log-viewer.js"></script>
</polymer-element>
