:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#core_header_panel {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}
#core_toolbar {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 125, 201);
}
#section {
    height: 100%;
    _background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
}
#paper_toggle_button {
    left: -470px;
    top: -214px;
    position: absolute;
}
#paper_toggle_button1 {
    left: 290px;
    top: 316px;
    position: absolute;
}

.content {
  overflow:auto;
  background-color:yellow;
}

.header {

  background-color:transparent;
}


.custom /deep/ ::-webkit-input-placeholder {
  color: #f4b400;
}

.custom /deep/ ::-moz-placeholder {
  color: #f4b400;
}

.custom /deep/ :-ms-input-placeholder {
  color: #f4b400;
}

.custom /deep/ .label-text,
.custom /deep/ .error {
  color: #f4b400;
}

.custom /deep/ .unfocused-underline {
  background-color: #f4b400;
}

.custom[focused] /deep/ .floated-label .label-text {
  color: #0f9d58;
}

.custom /deep/ .focused-underline {
  background-color: #0f9d58;
}

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error {
  color: #f06292;
}

.custom.invalid /deep/ .focused-underline {
  background-color: #f06292;
}

.custom {
  color: #1a237e;
  width: 20%;
}


// BADGE

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

