<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="infinity-list" attributes="">
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/infinity/build/infinity.min.js"></script>
  <template>

    <style>
        :host {
            display: block;
        }
        div.line {
            font-family: Courier;
            font-size: medium;
            font-weight: normal;
        }

        span.token {
            background:green;
            color:white;
            border-radius:50%;
            box-shadow:0 0 1px #333;
            padding: 1px 5px 1px 5px;

        }

    </style>

    <div id="infinite-container" >
    </div>

  </template>
  <script>
    (function () {
      Polymer({
        appendEl:function( el ) {
            try { this.listView.append( $(el) ); } catch(e) { console.log( "appendEl error", e) };
        },
        appendModel:function( m ) {
            if( this.template ) {
                try {
                    var df = this.template.createInstance(m); // Document Fragment

                    var el = df.firstElementChild; // get first child of document fragment

                    this.appendEl( el )
                }
                catch(e) {
                    console.log( "appendModel error", e)
                }
            }
        },
        refresh:function(force) {
            //@TODO
            this.listView.remove();
            this.ready();
        },
        domReady: function() {

            /*
            for( var i = 0; i < 100 ; ++i ) {
                var $newContent = $('<div>Hello World</div>');
                this.listView.append( $newContent );
            }
            */
        },
        ready:function() {
            var shadowEl = this.$['infinite-container'];

            var $el = $(shadowEl);

            this.listView = new infinity.ListView($el, {});

        },
        attached:function() {
            this.template = this.querySelector('template');
            if (this.template) {
          // Allow Polymer expressions in the template's {{}}.
                if (!this.template.bindingDelegate) {
                    this.template.bindingDelegate = this.element.syntax;
                }
            }
        }
        // define element prototype here
      });
    })();
  </script>
</polymer-element>
