<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>log viewer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/main.css -->
  <!--link rel="stylesheet" href="styles/main.css"-->
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbuild -->

  <!-- build:vulcanized elements/elements.vulcanized.html -->
  <link rel="import" href="elements/infinity-list/infinity-list.html">
  <!-- endbuild-->


</head>

<body unresolved>

<infinity-demo></infinity-demo>

<polymer-element name="infinity-demo" attributes="">
    <template>
        <infinity-list id="list" fit>
            <template>THE TEMPLATE {{line}}</template>
        </infinity-list>

    </template>
    <script>
    (function () {

      Polymer({

        // define element prototype here
        ready:function() {

            console.log( "list " + this.$.list.id );

            this.$.list.appendEl( "<H1>HELLO WORLD!</H1>"  );
            this.$.list.appendModel( {line: "HELLO WORLD FROM MODEL!"}  );
        }
      });

    })();
    </script>

<polymer-element>


</body>

</html>
