<link rel="import" href="../../bower_components/polymer/polymer.html">
<!-- You can import core and paper elements -->
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/core-input/core-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../elements/typescript-mod/typescript-mod.html">

<!--
Here's where you'll define your element. You can define multiple elements
if you want, but the package name will be taken from the first custom
element you define in the file. You can also document your element! For
more info, see [the docs](https://ele.io/docs).

@element animated-search-button"
-->
<polymer-element name="bsc-search-button" attributes="placeholder" >
  <template>
  <link rel="stylesheet" href="bsc-search-button.css">

<style>
</style>

<div layout horizontal center>

    <paper-input  id="item" label="{{placeholder}}" value="{{item}}"></paper-input>
    <paper-icon-button icon="search" on-tap="{{onSearch}}" ></paper-icon-button>
    <paper-icon-button icon="clear" on-tap="{{onClear}}" ></paper-icon-button>

</div>
</template>

<!--script src="../polymer-mod.js"></script-->
<script src="bsc-search-button.js"></script>

<!--script>
  Polymer('bsc-search-button', {
    placeholder:'enter search item ....',
    publish: {
      item:''
    },
    ready: function() {

    },
    onSearch:function(e) {
      console.log( "" +this.item ),
      this.fire( 'search', { 'item': this.item } );
    },
    onClear:function(e) {
      console.log( "reset" )
      this.item = '';
      this.fire( 'reset', { } );
    }

  });

</script-->
</polymer-element>
