:host {
  display: block;
  font-family: sans-serif;
  font-size:70%;
}
paper-input /deep/ .label-text,
paper-input /deep/ .error {
  /* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: green;
}

paper-input /deep/ ::-webkit-input-placeholder {
  /* platform specific rules for placeholder text */
  color: white;
}
paper-input /deep/ ::-moz-placeholder {
  color: white;
}
paper-input /deep/ :-ms-input-placeholder {
  color: white;
}

paper-input /deep/ .unfocused-underline {
  /* line color when the input is unfocused */
  background-color: blue;
}

paper-input[focused] /deep/ .floating-label .label-text {
  /* floating label color when the input is focused */
  color: orange;
}

paper-input /deep/ .focused-underline {
  /* line color when the input is focused */
  background-color: orange;
}

paper-input.invalid[focused] /deep/ .floated-label .label-text,
paper-input[focused] /deep/ .error {
  /* floating label, error message nad error icon color when the input is invalid and focused */
  color: salmon;
}

paper-input.invalid /deep/ .focused-underline {
  /* line and color when the input is invalid and focused */
  background-color: salmon;
}
